@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --texto: 'Raleway', sans-serif;
    --titulos-computadora: 36px;
    --texto-computadora: 20px;
    --titulos-responsive: 22px;
    --texto-responsive: 16px;
    --color-primario:#3586ccb6;
    --color-secundario:#CC9947;
    --color-titulos:#6E685E;
    --color-background:#ad99781e;
}

/* estilos desktop */

.navegador__div{
    background-color: var(--color-primario);
    font-weight: 600;
    box-sizing: content-box;  
    z-index: 100;
}
.navegador__espaciado{
    background-color: var(--color-primario);
    height: 100px;
}
.contenedor__general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 7%;
    margin-right: 7%;
}
.main__index{
    border-bottom: solid 2px #6E685E;
    box-sizing: border-box;
    padding: 3%;
}
.main__index:hover{
    background-color: var(--color-background);
    border: 3px var(--color-primario) solid;
    border-radius: 4%;
    transition: background-color 3s;
}
.lista__pie{
    list-style: none;
}
.link__pie{
    color: var(--color-primario);
    text-decoration: none;
}
.contenedor__departamentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__carrusel{
    z-index: 10;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 7%;
    border-bottom: var(--color-primario) solid;
    padding: 4%;
}
.color__boton{
    background-color: var(--color-secundario);
    box-shadow: 0 15px 15px rgba(0, 0, 0, .5);
}
.box__nosotros{
    background-color:var(--color-secundario);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    height: 150px;
}
.box__nosotros--dos{
    background-color:var(--color-secundario);
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    height: 150px;
}

.box__nosotros:hover{
    background-color: var(--color-primario);
}
.box__nosotros--dos:hover{
    background-color: var(--color-primario);
}

.box__nosotros h4{
    color: black;
}
.grilla__informacion{
    display: grid;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";
    gap: 10px;
}

.card__uno{
    grid-area: uno;
}
.card__dos{
    grid-area: dos;
}
.card__tres{
    grid-area: tres;
}
.card__cuatro{
    grid-area: cuatro;
}
.card__cinco{
    grid-area: cinco;
}
.card__seis{
    grid-area: seis;
}
.card__hover:hover{
    background-color: var(--color-primario);
    color: white;
}
